################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AccountOwnerServer
/AccountOwnerServer/bin/Debug/netcoreapp3.0
/Entities/bin/Debug/netcoreapp3.0
/Entities/obj
/Contracts/bin/Debug/netcoreapp3.0
/LoggerService/bin/Debug/netcoreapp3.0
/LoggerService/obj
/Contracts/obj
/AccountOwnerServer/obj
/Repository/bin/Debug/netcoreapp3.0
/Repository/obj/Debug/netcoreapp3.0
/Repository/obj
